<app-navbar></app-navbar>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">         
                    <div class="col-md-4 ">
                        <a class="card mb-5" [routerLink]="['/productDescription']">
                        <div class="box">
                      <img src="./assets/rabbit.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Chinchilla</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                </a> 
                    </div>       
                    <div class="col-md-4">
                        <div class="card mb-5">
                        <div class="box">
                      <img src="./assets/running-dog.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Golden Retriever Dog</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                    </div> 
                    </div>       
                    <div class="col-md-4">
                        <div class="card mb-5">
                        <div class="box">
                      <img src="./assets/parrot.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Eastern Rosella</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                    </div> 
                    </div>   
                    <div class="col-md-4 ">
                        <div class="card mb-5">
                        <div class="box">
                      <img src="./assets/Guinea-Pig.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Guinea-Pig</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                    </div> 
                    </div>    
                    <div class="col-md-4 ">
                        <div class="card mb-5">
                        <div class="box">
                      <img src="./assets/Clownfish.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Clownfish</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                    </div> 
                    </div>    
                    <div class="col-md-4 ">
                        <div class="card mb-5">
                        <div class="box">
                      <img src="./assets/rabbit.jpg" class="img-responsive">
                      <div class="detail">
                        <div class="content">
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to cart</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/heart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Add to wishlist</span></button>
                        <button  type="button" class="btn  btn-sm custom-btn dis-flex wow fadeInRight" data-wow-delay="0.5s"><img src="./assets/shopping-cart.svg" class=" w-20"><span class="pl-2 white-nowrap m-auto">Quick view</span></button>
                        </div>               
                      </div>              
                    </div>
                    <div class="footer">
                        <h3 class="footer-content">Chinchilla</h3>
                    </div> 
                    <div class="footer">
                        <h3 class="footer-content">$130.00</h3>
                    </div> 
                    </div> 
                    </div>        
                    
                  </div>
            </div>
             </div>
     
       
        </div>
      